.bootstrapTabContainer {
  border-bottom: solid 3px #eee !important;
  flex-wrap: nowrap !important;
  overflow: none !important;
}

.bootstrapSingleTab {
  background: linear-gradient(
    0deg,
    #dbdbdb 0%,
    #f5f3f5 0.01%,
    #f1e9f8 100%
  ) !important;
  font-weight: bold !important;
  color: black !important;
  width: 255px !important;
  border: none !important;
  margin-left: 10% !important;
  margin-bottom: 0px !important;
  box-shadow: 2px 0px 4px 0px #00000040 !important;
  transition: none;
}

.bootstrapSingleTab:hover {
  color: black !important;
}

.bootstrapSingleTab.active {
  background: black !important;
  color: white !important;
  font-weight: bold !important;
}

.bootstrapTabContent {
  margin-left: 2% !important;
  margin-right: 2% !important;
}

/* Button CSS */

.primCompbtn {
  color: white !important;
  background-color: #8ac926 !important;
  font-weight: 500 !important;
  padding: 7px !important;
  padding-left: 19px !important;
  padding-right: 19px !important;
  box-shadow: 0 4px 4px 0px #c5c5c5 !important;
  font-size: 15px !important;
  width: 300px !important;
  height: 41px !important;
  white-space: nowrap;
  border-style: none !important;
}

.primCompbtn:hover {
  background-color: #5f910f !important;
}

.primCompbtn:active {
  background-color: #5f910f !important;
}

.primInCompbtn {
  color: white !important;
  background-color: #ffca3a !important;
  font-weight: 500 !important;
  padding: 7px !important;
  padding-left: 19px !important;
  padding-right: 19px !important;
  box-shadow: 0 4px 4px 0px #c5c5c5 !important;
  font-size: 15px !important;
  width: 300px !important;
  height: 41px !important;
  white-space: nowrap;
  border-style: none !important;
}

.primInCompbtn:hover {
  background-color: #b48810 !important;
}

.primInCompbtn:active {
  background-color: #ffca3a !important;
}

/* Table */

.bootstrapTable {
  box-shadow: 0 0px 7px 0px #c5c5c5 !important;
  border-radius: 3px !important;
}

/* Accordion */
.Accordion {
  box-shadow: 0 0px 7px 0px #c5c5c5 !important;
  border-radius: 3px !important;
}
.editIcon {
  display: flex;
  position: absolute;
  top: 75px;
  right: 10px;
  cursor: pointer;
}

.addStudentBtn {
  height: 50px;
  width: 200px;
  background: rgba(13, 65, 209, 0.6);
  border-radius: 5px;
  outline: none;
  box-shadow: none;
}

.addStudentBtn:focus {
  outline: none;
  box-shadow: none;
}

.deleteIcon {
  font-size: 20px;
  align-items: center;
  outline: none;
  box-shadow: none;
  height: 36px;
  border: none;
}
.deleteIcon:focus {
  outline: none;
  box-shadow: none;
}
/* 
.AccordionItem{
  box-shadow: none !important;
  outline:0px !important;
  -webkit-appearance:none !important;
} */
