.primBtn {
    color: white;
    background-color: #0D41D1;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 0px;
}


.error {
    box-shadow: none !important;
    border: solid #ff5555 2px !important;
}

.disablePrim {
    background-color: #6283D9;
}

.deleteIcon {
    font-size: 20px;
    align-items: center;
    outline: none;
    box-shadow: none;
    height: 36px;
    border: none;
}

.deleteIcon:focus {
    outline: none;
    box-shadow: none;
}

.primInp {
    background: #FBFAFA;
    border: 1px solid #000000;
    padding: 9px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
    width: 400px;
}