.form {
  margin: 40px;
}

.listgroup {
  background: linear-gradient() !important;
  justify-content: center;
  font-weight: bold !important;
  color: black !important;
  width: 700px;
  margin: 10px !important;
  margin-top: 20px !important;
  border-radius: 10px;
  box-shadow: 2px 3px 4px 1px #00000040 !important;
  transition: none;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enrollments {
  background: rgba(229, 229, 229, 0.2);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}