.mainBtn {
  background: rgba(13, 65, 209, 0.7);
  width: 100px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: none;
}

.mainBtn:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.mBody {
  padding: 20px;
}

.mHeading {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.studentSelect {
  width: 300px;
  background-color: white;
  color: black;
}

.studentInfo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px !important;
  height: 140px !important;
  background-color: #D9D9D9 !important;
}